<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CEFAB5A1899CC75420A1B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2543E95ABE6FE1549428744A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B66A14872D7F21020815DDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52225273DFF1A3D468C1577A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2DC354EDE9DF816C3EB183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7298C535FFB31C2F2A0DF4D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96CE19817589E2ADB05AEA5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F2433E3DDF5735319F1FD5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58817B4BFE3EC885169C687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B03F597AB2B51615D8B0AFF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6E3B10D4331CA89EC7F74CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9DA2287E06D554F82C141CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1C6A0CFDB0094D8E35C577D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A6E015B1757A6580449ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEEA0ACBF22F717F5CD7FC7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
